<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <div class="card-header bg-primary text-white">
                <h2>Rate The Your Name Movie</h2>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <img style="width: 300px; margin-left: 20px; margin-bottom: 20px;" src="../assets/your-name.jpg" alt="">
                </div>
                <div class="col-md-4">
                  <h3>Your Name</h3>
                  <p>Release date: 14 December 2016 (Philippines)
                    Director: Makoto Shinkai <br>
                    Featured song: Zenzenzense <br>
                    Screenplay: Makoto Shinkai <br>
                    Story by: Makoto Shinkai <br> <br>
                    Synopsis: <br>
                    Two teenagers share a profound, magical connection upon discovering they are swapping bodies. 
                    Things manage to become even more complicated when the boy and girl decide to meet in person.</p>
                  <ngb-rating [max]="5" [(rate)]="cur_rate" style="size: 50px; margin-left: 20px;"></ngb-rating>
                  <hr>
                  <pre>Rate: <b>{{cur_rate}}</b> of 5</pre>
                </div>
              </div>
            </div>      
        </div>            
    </div>
  </div>
</div>

